@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: rgb(34, 139, 230);
  --color-secondary: rgb(255, 99, 71);
  --color-accent1: rgb(255, 206, 84);
  --color-accent2: rgb(102, 102, 255);
  --color-background: rgb(245, 245, 245);
  --color-card: rgb(255, 255, 255);
  --color-text-primary: rgb(33, 33, 33);
  --color-text-secondary: rgb(117, 117, 117);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility btn-primary {
  @apply bg-primary text-white px-4 py-2 rounded-lg font-semibold;
}

@utility btn-secondary {
  @apply bg-secondary text-white px-4 py-2 rounded-lg font-semibold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
